@model IEnumerable<MngYourContracr.MngYourContractDatabase.Manager>

<style>
    table {
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        text-align: left;
        padding: 8px;
        background-color: white;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    th {
        background-color: #333;
        color: white;
    }
</style>
<table class="table">
    <tr>


        <th>
            @Html.DisplayNameFor(model => model.ManagerId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Projects)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Teams)
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.User.FirstName)
                @Html.DisplayFor(modelItem => item.User.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Projects)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Teams)
            </td>
        </tr>
    }

</table>
           </div></div>
</body>
</html>

