@model IEnumerable<MngYourContracr.MngYourContractDatabase.Task>

@{
    ViewBag.Title = "CurrentTasks";
}

<style>
    table {
        border-collapse: collapse;
        width: 100%;
    }

    th, td {
        text-align: left;
        padding: 8px;
        background-color: white;
    }

    tr:nth-child(even) {
        background-color: #f2f2f2;
    }

    th {
        background-color: #333;
        color: white;
    }
</style>

<h2>Current Tasks</h2>

<table class="table">
    <thead>
    <th>Name</th>
    <th>Description</th>
    <th>Status</th>
    <th>Deadline</th>
    <th>Start Date</th>
    <th>Completion</th>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            if (item.Status == "OPENED")
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Deadline)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartDate)
                </td>
                <td>
                    @Html.ActionLink("Done!", "Completed", new { id = item.TaskId })
                </td>
            </tr>
            }
        }
    </tbody>
</table>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
