@model MngYourContracr.MngYourContractDatabase.Employee

@{
    ViewBag.Title = "Employee";
}

<<<<<<< HEAD
<h2>Employee</h2>

<h3>Greetings @ViewBag.User.FirstName @ViewBag.User.LastName!</h3>
<h4>Team role: @ViewBag.User.Description</h4>

=======
<h2>Welcome home to MngYourContract employee's profile</h2>
<h3>Greetings @Model.User.FirstName @Model.User.LastName!!!</h3>
<h4>We hope you will accomplish something great today</h4>
>>>>>>> origin/master
<h3><a href="/Employee/CurrentTasks">Current tasks</a></h3>
<h3><a href="/Employee/CompletedTasks">Completed tasks</a></h3>