@model MngYourContracr.MngYourContractDatabase.Project

@{
    ViewBag.Title = "CreateProject";
}

<h2>Ready to sign a new deal?</h2>


@using (Html.BeginForm(new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Project Info</h4>
        <hr />
        @Html.ValidationSummary(true)


        <div class="form-group">
            @Html.LabelFor(model=>model.Name,"This is the name of the deal. Choose it, please.", new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, "Describe this project in more details", new { @class = "col-md-2 control-label" })
            
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Description, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Description)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.budget, "What's your budget for this project?", new { @class = "col-md-2 control-label" })
            
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.budget, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.budget)
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.ManagerId, " Our managers are waiting to help you. Choose one from them", new { @class = "col-md-2 control-label" })
           
            <div class="col-md-10">
                @Html.DropDownList("ManagerId",null, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ManagerId)
            </div>
        </div>


        <div class="form-group">
            @Html.LabelFor(model => model.Deadline, "What about the deadline?", new { @class = "col-md-2 control-label" })
            
            <div class="col-md-10">
                @Html.TextBoxFor(model => model.Deadline, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Deadline)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Sign" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to client page", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
