
@{
    ViewBag.Title = "Index";
}



@if (ViewBag.displayMenu == "Yes")
{
    <h1>Welcome Admin. Now you can create user Role.</h1>
    <h3>
        <li>@Html.ActionLink("Manage Role", "Index", "Role")</li>
    </h3>
}
else
{
    <h2>  Welcome <strong>@ViewBag.Name</strong> :) !</h2>
    if (ViewBag.role == "Client")
    {
        <li>@Html.ActionLink("Go to your client page", "Index", "Client")</li>
    }
    else if (ViewBag.displayMenu == "Manager")
    {
        <li>@Html.ActionLink("Go to your manager profile", "Index", "Manager")</li>
    }
    else
    {
        <li>@Html.ActionLink("Go to your employee profile", "Index", "Employee")</li>
    }
}
<h2>Here you can read some news, when we add them;)</h2>
